# Игнорировать временные файлы
temp/
*.csv
*.dll
*.exe
*.zip
*.tar.gz
*.log
venv/
pycache/
catboost_info/
venv
pycache
Песочница/
песочница/
Data_Science/Machine_Learning/catboost_info/
Machine_Learning/catboost_info/
python_packages/