[Unit]
Description=Heart Attack Prediction API
After=network.target

[Service]
TimeoutStartSec=0
TimeoutStopSec=0
KillMode=mixed
KillSignal=SIGTERM
Type=simple
User=root
WorkingDirectory=/var/www/heart_attack_api
Environment=PATH=/opt/heart_attack_venv39/bin
ExecStart=/opt/heart_attack_venv39/bin/python -m uvicorn app.main:app --host 0.0.0.0 --port 8001
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target